In [1]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [2]:
myset = {"apple", "banana", "cherry"}

print(type(myset))

<class 'set'>

In [3]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [4]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [6]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [12]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [13]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [18]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [16]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [19]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

# Concatenating tuples
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [20]:
my_tuple = (10, 20, 30, 40, 50)

# Slicing tuples
print(my_tuple[:3])    
print(my_tuple[2:])    
print(my_tuple[1:4])

(10, 20, 30)
(30, 40, 50)
(20, 30, 40)

In [23]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
nested_tuple = (tuple1, tuple2)

print(nested_tuple[0])          
print(nested_tuple[1][2])

(1, 2, 3)
c

In [26]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
nested_tuple = tuple1, tuple2
print(nested_tuple[1])

('a', 'b', 'c')

In [27]:
my_tuple = (1, 2, 2, 3, 4, 2)

print(my_tuple.count(3))

1

In [28]:
employee1 = (1, 'John Doe', 'Engineering', 5000)
employee2 = (2, 'Jane Smith', 'Marketing', 6000)

print(employee1[1])  
print(employee2[3])

John Doe
6000

In [48]:
print(person)

{'first_name': 'Asabeneh', 'last_name': 'Yetayeh', 'age': 25, 'country': ('Finland', 'sweden'), 'is_marred': True, 'skills': ['JavaScript', 'React', 'Node', 'Python'], 'address': {'street': 'Space street', 'zipcode': '02210'}}

In [46]:
person["country"][1]

'sweden'

In [55]:
print(person.get('first_name')) 
print(person.get('country'))    
print(person.get('skills'))     
print(person.get('skills')[0])  
print(person.get('address')['street'])

Asabeneh
('Finland', 'sweden')
['JavaScript', 'React', 'Node', 'Python']
JavaScript
Space street