In [1]:
def add_numbers(a, b):
    """Return the sum of two numbers."""
    return a + b

In [6]:
add_numbers(2,4)

6

In [7]:
def multiply(a, b=2):
    """Return the product of a and b. Default value of b is 1."""
    return a * b

In [10]:
multiply(3)

6

In [11]:
multiply(4,5)

20

In [12]:
def list_items(*args):
    """Print all items passed as arguments."""
    for item in args:
        print(item)

In [16]:
list_items(3,4,5)

3
4
5

In [17]:
list_items('apple', 'banana', 'cherry')

apple
banana
cherry

In [18]:
def print_info(**kwargs):
    """Print key-value pairs passed as keyword arguments."""
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [30]:
print_info(fan="hello")

fan: hello

In [31]:
print_info(name="hello",age = 23)

name: hello
age: 23

In [37]:
def divide(a, b):
    """
    Divide a by b and return the result.

    Parameters:
    a (float): The numerator.
    b (float): The denominator.

    Returns:
    float: The result of the division.
    """
    return a / b

In [38]:
divide(40,5)

8.0

In [67]:
def calculate_area(radius):
    """Calculate the area of a circle with the given radius."""
    import math
    area = math.pi * (radius ** 2)
    return area

In [69]:
calculate_area(3)

28.274333882308138

In [70]:
def factorial(n):
    """
    Calculate the factorial of a non-negative integer n.

    Parameters:
    n (int): The number to calculate the factorial for.

    Returns:
    int: The factorial of n.
    """
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

In [71]:
factorial(5)

120

In [13]:
import logging 

def add_numbers(a, b):
    logging
    """Return the sum of two numbers."""
    try:
        return a + b
    except Exception as e:
        print(e)

In [14]:
add_numbers(3,4)

7

In [22]:
def list_items(*args):
    logging
    """Print all items passed as arguments."""
    try:
        for item in args:
            print(item)   
    except Exception as e:
        print(e)

In [26]:
list_items(3,5,6)

3
5
6

In [28]:
def factorial(n):
    logging
    """
    Calculate the factorial of a non-negative integer n.

    Parameters:
    n (int): The number to calculate the factorial for.

    Returns:
    int: The factorial of n.
    """
    try:
         if n < 0:
            raise ValueError("Factorial is not defined for negative numbers")
         if n == 0 or n == 1:
            return 1
         return n * factorial(n - 1)
    except Exception as e:
        print(e)

In [29]:
factorial(6)

720

In [44]:
def power_of(n, exponent):
    logging
    """
    Calculate the power of n to the exponent using a nested function.

    Parameters:
    n (int/float): The base number.
    exponent (int): The exponent.

    Returns:
    int/float: The result of n raised to the exponent.
    """ 
    try:
        def calculate_power(base, exponent):
            result = 1
        for _ in range(exponent):
            result *= base
        return result

        return calculate_power(n, exponent)
    except Exception as e:
         print(e)

In [48]:
power_of(2,3)

name 'exp' is not defined