In [22]:
#2. Sequence Types
		#a. String (str)
		#Strings are sequences of characters enclosed in quotes (single, double, or triple).
		# Example of strings
name = "Alice"
message = 'Hello, World!'
multiline_string = """
		       Hello,
		       Python!"""

In [24]:
name

'Alice'

In [25]:
multiline_string

'\n\t\t       Hello,\n\t\t       Python!'

In [7]:
#b. List (list)
		#Lists are ordered collections of items. They are mutable (changeable) and can contain elements of different data types.

		# Example of lists
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed_list = [1, "apple", True]

In [8]:
fruits

['apple', 'banana', 'cherry']

In [9]:
numbers

[1, 2, 3, 4, 5]

In [10]:
mixed_list

[1, 'apple', True]

In [12]:
#2. Sequence Types
		#a. String (str)
		#Strings are sequences of characters enclosed in quotes (single, double, or triple).
		# Example of strings
name = "Alice"
message = 'Hello, World!'
multiline_string = """
		       Hello,
		       Python!"""

In [14]:
name

'Alice'

In [15]:
tpl = tuple([1, 2, 3])
print(tpl)  # Output: (1, 2, 3)

(1, 2, 3)

In [19]:
name = "Bob"
age = 25
formatted_string = "My name is {} and I am {} years old.".format(name , age)
print(formatted_string)  # Output: 'My name is Bob and I am 25 years old.'

My name is Bob and I am 25 years old.

In [20]:
name = "Bob"
age = 25
formatted_string = "My name is {} and I am {} years old.".format(name , age)
print(formatted_string)  # Output: 'My name is Bob and I am 25 years old.'

My name is Bob and I am 25 years old.

In [1]:
age = 25
count = -10

In [2]:
count

-10

In [7]:
age

25

In [4]:
print(count)

-10

In [8]:
age

25

In [6]:
type(age)

int

In [9]:
height = 5.8
pi = 3.14159

In [12]:
print(height)

5.8

In [11]:
pi

3.14159

In [15]:
print(pi)

3.14159

In [18]:
z = 3 + 4j

In [2]:
# Example of booleans
is_student = True
is_adult = False
#Practical Example:
		#Let's use these data types in a practical example to showcase their usage:
# Define variables of different data types
name = "Alice"  # string
age = 25  # integer
height = 5.8  # float
coordinates = (3, 4)  # tuple
grades = {"Math": 85, "Science": 90, "History": 88}  # dictionary

In [3]:
# Print information using these variables
print(f"Student Name: {name}")
print(f"Age: {age}")
print(f"Height: {height} feet")
print(f"Coordinates: {coordinates}")
print("Grades:", grades)

Student Name: Alice
Age: 25
Height: 5.8 feet
Coordinates: (3, 4)
Grades: {'Math': 85, 'Science': 90, 'History': 88}

In [4]:
grades

{'Math': 85, 'Science': 90, 'History': 88}

In [5]:
print(f"Student Name: {name}")

Student Name: Alice

In [8]:
a = 15
b = 4
print(a+b)
print(a-b)
print(a/b)
print(a//b)

19
11
3.75
3

In [9]:
a =3
b = 5
result = a <= b  
print(result)

True

In [14]:
x = 10
y = 5

equal = x == y            # False
not_equal = x != y        # True
greater_than = x > y      # True
less_than = x < y         # False
greater_than_or_equal = x >= y  # True
less_than_or_equal = x <= y     # False

# Print results
print(f"Equal: {equal}")
print(f"Not Equal: {not_equal}")
print(f"Greater Than: {greater_than}")
print(f"Less Than: {less_than}")
print(f"Greater Than or Equal: {greater_than_or_equal}")
print(f"Less Than or Equal: {less_than_or_equal}")

Equal: False
Not Equal: True
Greater Than: True
Less Than: False
Greater Than or Equal: True
Less Than or Equal: False

In [17]:
x = 5
y = 10
z = 15
result = x < y < z
print(result)

True

In [26]:
list_example = [1, 2, 3, 4, 5]

print(2 in list_example)  # Output: True
print(6 in list_example)  # Output: False

string_example = "Hello, World!"

print("Hello" in string_example)  # Output: True
print("Python" in string_example)  # Output: False

True
False
True
False

In [35]:
#The `not in` operator is the negation of the `in` operator. It returns `True` if a specified value is not found within the sequence.

list_example = [1, 2, 3, 4, 5]

print(6 not in list_example)  # Output: True
print(2 in list_example)  # Output: False

string_example = "Hello, World!"

print("World!" not in string_example)  # Output: True
print("Hello" not in string_example)  # Output: False

True
True
False
False

In [36]:
# Example of variable assignment
age = 25
name = "Alice"
is_student = True

In [39]:
print(age)

25

In [38]:
print(name)

Alice

In [40]:
print(age)

25

In [42]:
print(is_student)

True

In [43]:
type(name)

str

In [44]:
a, b, c = 30,20,10

In [45]:
b

20

In [46]:
print(c)

10

In [47]:
value = 10
value_str = str(value)
print(value_str)  # Output: "10"

10

In [48]:
value

10

In [49]:
value_str

'10'

In [50]:
print(value)

10

In [51]:
s = "äöü"
ascii_s = ascii(s)
print(ascii_s)  # Output: '\xe4\xf6\xfc'

'\xe4\xf6\xfc'

In [52]:
s = "äöü"
ascii_s = ascii(s)
print(ascii_s)  # Output: '\xe4\xf6\xfc'

'\xe4\xf6\xfc'

In [53]:
bool_value = bool(0)
print(bool_value)

False

In [54]:
char = chr(58)

print(char)

:

In [55]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [61]:
result = divmod(65, 12)
print(result)

(5, 5)

In [65]:
fruits = ['apple', 'banana', 'cherry', "chiku"]
enum_obj = enumerate(fruits)
print(list(enum_obj))

[(0, 'apple'), (1, 'banana'), (2, 'cherry'), (3, 'chiku')]

In [66]:
x = 10
result = eval('x + 5')
print(result)

15

In [68]:
def is_even(num):
    return num % 2 == 0

numbers = [1, 2, 3, 4, 5, 6,7,8]
filtered_nums = filter(is_even, numbers)
print(list(filtered_nums))

[2, 4, 6, 8]

In [73]:
is_even(6)

True

In [74]:
formatted = format(0.97, '%')

print(formatted)

97.000000%

In [1]:
name = input("Enter your name? ")
print("Hello, " + name)

Enter your name?  kaushik

Hello, kaushik

In [ ]:
int_num = int(10.00002)
print(int_num)

In [3]:
old_age=input("enter our old age :")
int(old_age)
new_age =int(old_age)+2
print(new_age)

enter our old age : 8

10